@font-face{
    font-family: "inconsolata";
    src: url("./fonts/Inconsolata/inconsolata.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    margin: 0px 0px 18px 0px;
    padding: 24px 0px 0px 0px;
}

h1 {
    color: #C4BF9F;
}

h4 {
    color: #E0AF8F;
}

h5 {
    color: #F0E0AF;
}

hr {
    border: none;
    color: #506070;
    background-color: #506070;
    height: 1px;
   }

p, ul {
    margin: 18px 0px 18px 0px;
}

ul {
    margin: 18px 0px 18px 0px;
    padding-left: 18px;
}

f1 {
    font-size: 14px;
    font-style: italic;
    color: #8CD0D3;
    display:block;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

img {
    display:block;
    margin: auto;
    max-width: 100%;
}

strong, b {
    color: #E0AF8F;
    font-weight: bold;
}

div#footer {
    font-size: 14px;
    color: #84AAD9;
    margin: 60px 0px 36px 0px;
    text-align: center;
    border-top: 1px solid #506070;
}

html {
    background-color: #3F3F3F;
    font-size: 16px;
    font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
    line-height: 24px;  
}

body {
    background-color: #3F3F3F;
    color: #DCDCCC;
}

a {
    color: #DBA3A2;
    text-decoration: none;
    border-bottom: 1px solid #4F4F4F;
}

code a {
    color: #DCDCCC;
    border-bottom: none;
}

a img {
    margin-bottom: 0px;
}

pre {
    font-size: 14px;
    margin-left: 18px;
    overflow: auto;
}

pre code {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    color: #DCDCCC;
}

code {
    font-family: 'inconsolata';
    font-size: 20px;
    color: #92E0E2;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
    color: #92E0E2;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 26px;
}

ul {
    list-style-image: url("../images/list-style-image.png");
}


blockquote {
    color: #dcdccc;
    font-style: italic;
    padding: 15px 0px 0px 60px;
    background-color: #3f3f3f;
    margin-left: 0px;
    background-image: url("../images/quote-background.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.soft, .caption {
    font-style: italic;
    color: #709180;
}

div.photoblog img {
    margin-top: 0px;
    margin-bottom: 48px;
}

div.photoblog div.pagination {
    font-size: 14px;
    padding: 12px 0px;
}

figcaption {
    display:block;
    font-size: 14px; 
}

div#bun {
    margin-left: 0px;
    margin-top: 5px;
}

