<h1>Фотоб&lambda;ог</h1>
<div class="photoblog">
    <p>
        Фотография - это моё хобби. Увлекаюсь ей очень давно. Конечно,
        постоянно с собой фотоаппарат не таскаю, но в отпуск, и когда знаю,
        что будет что-то интересное, беру практически всегда. 
    </p>
    <p>
        Здесь некоторые фотографии из моего аккаунта 
        <a href="https://www.flickr.com/photos/chubaduba/albums">Flickr</a>.
    </p>

    <h1></h1>
    $for(photos)$
    <f1>$title$</f1>
    <img src="$image$" alt="" />
    $endfor$

    <div class="pagination">
        $if(previousPageNum)$
            <a href="$previousPageUrl$">предыдущая</a>
        $else$
            <a href="$lastPageUrl$">предыдущая</a>
        $endif$
        &mdash;
        страница $currentPageNum$ из $numPages$
        &mdash;
        $if(nextPageNum)$
            <a href="$nextPageUrl$">следующая</a>
        $else$
            <a href="$firstPageUrl$">следующая</a>
        $endif$
    </div>
</div>
